@model List<Flower> 
<section id="shop-list-title">
    <div class="container py-4">
        <div class="row py-5">
            <div class="col-12">
                <h1>Shop List</h1>
            </div>
        </div>
    </div>
</section>

<section id="shop-list">
    <div class="container">
        <div class="row py-5">
            
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="product-item text-center" data-id="@item.FlowerCategory.Name">
                        <div class="img">
                            <a href="">
                                @foreach (var img in item.FlowerImg)
                                {
                                    <img src="~/img/@img.ImgPath" class="img-fluid" alt="">
                                }
                            </a>


                        </div>
                        <div class="title mt-3">
                            <h6>@item.Name</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">Add to cart</span>
                            <span class="text-black-50">$@item.Price</span>
                        </div>
                    </div>
                </div>
            }
         
        </div>
    </div>
</section>

<!-- PRODUCTS START -->

